furo
ipykernel
ipython
matplotlib
mqt-bench~=1.1.5
mqt-ddsim~=1.23.0
mqt-qcec~=2.7.1
mqt-qmap~=2.6.0
myst-nb
myst_parser>=0.13
pybtex>=0.24
qiskit[visualization]
setuptools
sphinx>=5
sphinx-copybutton
sphinx_design
sphinxcontrib-bibtex>=2.4.2
sphinxcontrib-svg2pdfconverter[CairoSVG]
sphinxext-opengraph
